body {
  background: rgb(81, 148, 213);
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  margin-top: 10%;
  background: #ddf;
  height: 50vh;
  width: 40%;
  border-radius: 2px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
}
